body {
  margin: 0;
  font-family: 'Varela Round', sans-serif;

  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;

  background: rgb(2,0,36);
  background: linear-gradient(180deg, rgba(2,0,36,1) 10%, rgba(0,156,114,1) 25.55%, rgba(2,0,36,1) 80%);
}

code {
  font-family: source-code-pro, Menlo, Monaco, Consolas, "Courier New",
    monospace;
}
