.About {
  width: inherit;
  padding-top: 100px;
  padding-bottom: 50px;
  position: relative;
}

.About .container {
  margin: 0 auto;
  padding: 0 20px;
}

.About .text {
  display: inline-block;
  width: 600px;
  padding: 0 30px;
  text-align: left;
  vertical-align: middle;
}

.info {
  margin: 40px 0 20px;
}

.goal {
  margin: 20px 0 0 0;
}

.About .image {
  display: inline-block;
  vertical-align: middle;
}

@media screen and (max-width: 1200px) {
  .About {
    padding-top: 50px;
  }
  .About .container {
    width: inherit;
  }
}

@media screen and (max-width: 650px) {
  .About .text {
    width: 300px;
  }
}
