.About {
  width: inherit;
  padding: 100px 0 50px 0;
  position: relative;
  background-color: #324157;
}

.About .container {
  margin: 0 auto;
  padding: 0 20px;
}

.About .text {
  display: inline-block;
  width: 600px;
  padding: 0 30px;
  text-align: left;
  vertical-align: middle;
}

.info {
  margin: 40px 0 20px;
}

.goal {
  margin: 20px 0 0 0;
}

.About .image {
  display: inline-block;
  vertical-align: middle;
}

.tent {
  width: 500px;
}

@media screen and (max-width: 1200px) {
  .About {
    padding-top: 100px;
  }
  .About .container {
    width: inherit;
  }
}

@media screen and (max-width: 650px) {
  .About .text, .tent {
    width: 300px;
  }
}
