.About {
  width: inherit;
  padding: 50px 0;
  width: 100%;
  position: relative;
}

.About p {
  width: 800px;
  text-align: center;
  margin: 0 auto;
}

@media screen and (max-width: 840px) {
  .About {
  }
  .About p {
    width: inherit;
    margin: 0 40px;
  }
}
