.App {
  color: #fff;
  text-align: center;
  width: inherit;
  height: inherit;
}

h1 {
  margin: 10px 0px 16px;
  font-size: 72px;
  line-height: 54px;
  font-weight: 900;
  letter-spacing: 1px;
  text-shadow: 3px 3px 3px rgba(0, 0, 0, 1), 4px 2px 4px rgba(0, 0, 0, .85);
}

h2 {
  margin: 10px 0px;
  font-size: 30px;
  line-height: 36px;
  font-weight: 700;
  text-shadow: 3px 3px 3px rgba(0, 0, 0, .84), 4px 2px 4px rgba(0, 0, 0, .85);
}

h3 {
  margin: 0;
  font-size: 22px;
  line-height: 23px;
  font-weight: bold;
  text-shadow: 3px 3px 3px rgba(0, 0, 0, .84), 4px 2px 4px rgba(0, 0, 0, .85);
}

h4 {
  margin: 10px 0px;
  font-size: 18px;
  line-height: 24px;
  font-weight: 700;
  text-shadow: 3px 3px 3px rgba(0, 0, 0, .84), 4px 2px 4px rgba(0, 0, 0, .85);
}

h5 {
  margin: 10px 0px;
  font-size: 14px;
  line-height: 20px;
  font-weight: 700;
  text-shadow: 3px 3px 3px rgba(0, 0, 0, .84), 4px 2px 4px rgba(0, 0, 0, .85);
}

h6 {
  margin: 10px 0px;
  font-size: 12px;
  line-height: 18px;
  font-weight: 700;
  text-shadow: 3px 3px 3px rgba(0, 0, 0, .84), 4px 2px 4px rgba(0, 0, 0, .85);
}

p {
  margin-bottom: 5px;
  font-size: 20px;
  line-height: 23px;
  letter-spacing: 1px;
  text-shadow: 3px 3px 3px rgba(0, 0, 0, .84), 4px 2px 4px rgba(0, 0, 0, .85);
}

u {
  text-decoration: none;
  border-bottom: 10px solid #D7AA27;
  border-radius: 15px;
}

.Raccoon,
.question {
  transition: transform .3s;
  /* Animation */
}

.Raccoon:hover {
  transform: scale(1.2);
  /* (150% zoom - Note: if the zoom is too large, it will go outside of the viewport) */
}

.question:hover {
  transform: scale(1.05);
}

@media screen and (max-width: 900px) {
  .App {}
}