.Faqs {
  width: inherit;
  padding: 100px 0;
  position: relative;
  background-color: #020024;
}

.Faqs .container {
  display: flex;
  width: 1150px;
  margin: 0 auto;
}

.Faqs .column {
  flex: 50%;
}

.left {
  margin-right: 20px;
}

.right {
  margin-left: 20px;
}

.Faqs .question {
  text-align: left;
  border: 4px solid #D7AA27;
  border-radius: 15px;
  padding: 35px;
  margin: 40px 0;
}

.Faqs.prompt {
  padding: 0 20px;
}

@media screen and (max-width: 1200px) {

  .Faqs .container {
    display: block;
    width: inherit;
  }

  .left,
  .right {
    margin: 0 20px;
  }
}