.Home {
  height: 100vh;
  width: 100%;

  position: relative;

  background: linear-gradient(0deg, rgba(195,188,169,1) 10%, rgba(34,152,195,1) 10%, rgba(2,0,36,1) 50%);

}

.Home .container {
  height: inherit;

  background-image: url('../images/UCM.png');
  background-position: bottom 60px center;
  background-repeat: no-repeat;
  background-attachment: absolute;
  background-size: 3200px ;
}

.content {
  padding-top: 240px;
}

.button {
  display:inline-block;
  background-color: #009c3b;
  border: none;
  border-radius: 30px;
  font-size: 32px;
  text-shadow: 0 3px 3px rgba(0, 0, 0, .84), 0 2px 4px rgba(0, 0, 0, .45);
  box-shadow: 0 3px 3px rgba(0, 0, 0, .84), 0 2px 4px rgba(0, 0, 0, .45);
  width: 200px;
  padding: 10px 10px;
  margin: 40px 10px 0;
  color: #fff;
  text-decoration: none;
}

a.button:hover {
  background-color: #27AE60;
}

@media screen and (max-width: 700px) {
  .Home h1 {
    font-size: 48px;
  }
}
