.Home {
  height: 100vh;
  width: 100%;

  position: relative;

  background-image: url('../images/ucmerced.png'), linear-gradient(0deg, rgba(34,152,195,1) 0%, rgba(2,0,36,1) 70%);
  background-position: bottom center;
  background-repeat: no-repeat;
  background-attachment: absolute;
  background-size: auto;
}

.Home .container {
  padding-top: 280px;
}

.button {
  display:inline-block;
  background-color: #009c72;
  border: none;
  border-radius: 30px;
  font-size: 32px;
  text-shadow: 0 3px 3px rgba(0, 0, 0, .84), 0 2px 4px rgba(0, 0, 0, .45);
  box-shadow: 0 3px 3px rgba(0, 0, 0, .84), 0 2px 4px rgba(0, 0, 0, .45);
  width: 200px;
  padding: 10px 10px;
  margin: 30px 10px;
  color: #fff;
  text-decoration: none;
}

a.button:hover {
  background-color: #27AE60;
}

@media screen and (max-width: 1200px) {
}
