.Nav {
  width: 100%;
  position: fixed;
  z-index: 10000;
}

.Nav ul {
  float: right;
  padding: 0 25px;
}

.Nav li {
  display: inline-block;
  vertical-align: middle;
  margin: 0 25px;
}

.Nav a {
  color: #fff;
  text-decoration: none;
}

.Nav p {
  padding-bottom: 10px;
}

/* Position and sizing of burger button */
.bm-burger-button {
  display: none;
  position: fixed;
  width: 36px;
  height: 30px;
  right: 36px;
  top: 36px;
}

/* Color/shape of burger icon bars */
.bm-burger-bars {
  background: #fff;
}

/* Color/shape of burger icon bars on hover*/
.bm-burger-bars-hover {
  background: #fff;
}

/* Position and sizing of clickable cross button */
.bm-cross-button {
  height: 36px;
  width: 36px;
}

/* Color/shape of close button cross */
.bm-cross {
  background: #fff;
}

/* General sidebar styles */
.bm-menu {
  background: #373a47;
  padding: 2.5em 1.5em 0;
  font-size: 1.5em;
}

/* Morph shape necessary with bubble or elastic */
.bm-morph-shape {
  fill: #373a47;
}

/* Wrapper for item list */
.bm-item-list {
  color: #b8b7ad;
  padding: 0.8em;
}

/* Individual item */
.bm-item {
  display: inline-block;
}

/* Styling of overlay */
.bm-overlay {
  background: rgba(0, 0, 0, 0.3);
}

@media screen and (max-width: 600px) {
    .Nav .wide-navbar {
      display: none;
    }
    .bm-burger-button {
      display: block;
    }
}
