.Sponsors {
  width: inherit;
  padding: 100px 0 50px 0;
  position: relative;
}

.Sponsors .column {
  display: flex;

}

.Sponsors .row {
  flex: 50%;
}

.icon {
  margin: 10px;
}

.row .icon{
  display: inline-block;
  margin: 0 auto;
}

.gold img {
  width: 700px;
}

.silver img {
  width: 600px;
}

.bronze img {
  width: 350px;
}

.Sponsors.prompt {
  padding: 0 20px;
}

.Sponsors .Raccoon {
  margin-top: 40px;
  width: 200px;
}

@media screen and (max-width: 800px) {
  .row .icon{
    display: block;
    margin: 0 auto;
  }

  .gold img {
    width: 500px;
  }

  .silver img {
    width: 400px;
  }
}

@media screen and (max-width: 600px) {
  .row .icon{
    display: block;
    margin: 0 auto;
  }

  .gold img {
    width: 350px;
  }

  .silver img {
    width: 300px;
  }

  .bronze img {
    width: 200px;
  }
}
