.Sponsors {
  width: inherit;
  padding-top: 100px;
  position: relative;
  background-color: #09111D;
}

.Sponsors .container {
  padding: 0 20px;
}

.Sponsors .row {
  flex: 50%;
}

.icon {
  margin: 10px 20px;
  display: inline-block;
  vertical-align: middle;
}

.row .icon {
  width: 300px;
}

.top {
  margin-top: 30px;
}

.Citris img {
  width: 350px;
}

.Ucanr img {
  width: 600px;
}

.Venture img {
  width: 550px;
}

.row img {
  width: 200px;
}

.StickerMule img {
  width: 250px;
}

.CoolerMaster img {
  width: 180px;
}

.RedBull img {
  width: 180px;
}

.Merco img {
  width: 100px;
}

.supporters .icon {
  width: 200px;
}

.supporters img {
  width: 200px;
}

.Vanguard img, .ASUCM img {
  width: 150px;
}

.Sponsors.prompt {
  padding: 0 20px;
}

.Sponsors .Raccoon {
  margin-top: 40px;
  width: 200px;
}

.sponsoring, .supporters {
  margin-bottom: 50px;
}

.icon img {
  transition: transform .3s; /* Animation */
}
.icon img:hover {
  transform: scale(1.1); /* (150% zoom - Note: if the zoom is too large, it will go outside of the viewport) */
}

@media screen and (max-width: 700px) {

  .Ucanr img {
    width: 400px;
  }

  .Venture img {
    width: 400px;
  }
}
@media screen and (max-width: 550px) {
  .sponsoring .icon {
    display: block;
    margin: 50px 0;
  }
}

@media screen and (max-width: 450px) {
  .Citris img {
    width: 300px;
  }
  .Ucanr img {
    width: 300px;
  }

  .Venture img {
    width: 250px;
  }
}
