.Sponsors {
  width: inherit;
  padding: 50px 0;
  position: relative;
}

.Sponsors .column {
  display: flex;

}

.Sponsors .row {
  flex: 50%;
}

.icon {
  margin: 10px;
}

.row .icon{
  display: inline-block;
  margin: 0 auto;
}

@media screen and (max-width: 1150px) {

}
