.Tracks {
  width: inherit;
  padding: 100px 0;
  position: relative;
  background-color: #09111D;
}

.Tracks .container {
  margin: 0 auto;
  padding: 0 20px;
}

.Tracks.themes {
}

.Tracks .theme {
  width: 200px;
  display: inline-block;
  margin: 40px 40px 0 40px;
}

.Tracks .icon {
}
